/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
* {
    font-family: 'Montserrat', sans-serif;   
}
body {
    background-color: #DAD8d2;
}
header {
    background-color: white;
    height: 50px;
    width: 100%;
    margin: 0px auto;
}

.container {
    width: 100%;
}

h5 {
	text-decoration: underline;	
}

.recipe {
    border-style: solid;
    border-width: 5px;
}

.centered {
    vertical-align: middle;
    text-align: center;
}

.right {
    text-align: right;
}
